#!/usr/bin/env xdg-open
[Desktop Entry]
Name=caja-Dropbox
GenericName=File Synchronizer For Mate
Comment=Sync your files across computers and to the web
Exec=dropbox start -i
Terminal=false
Type=Application
Icon=caja-dropbox
Categories=Network;FileTransfer;
StartupNotify=false
